#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#text {
    margin-right: 4vw;
    text-align: center;
}
@media (max-aspect-ratio: 1/1) {
    h1 {
        margin-right: 0;
    }
}