#container {
    padding: 8vh 0 0 0;
    max-height: 100%;
    overflow: scroll;
}
.boxContainer {
    flex: 1;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3vh 2vw;
    padding: 5rem 3rem;
    flex: 1;
}
.logo {
    height: 4vh;
    width: 4vh;
    margin-right: 1.5rem;
    background: #e8e6e5;
    padding: 1vh;
    border-radius: 1.5vh;
}
.label {
    font-size: 2.6vh;
    font-weight: 500;
}
.box {
    display: flex;
    place-items: center;
    padding: 0.7rem;
}
.box:hover {
    background: #e8e6e5;
    border-radius: 1vw;
}
#pageSelectorContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.pageSelector {
    padding: 2vh;
    border-color: var(--medium-text);
    font-size: 3vh;
}
.pageSelector:hover {
    border-color: var(--light-text);
    border-bottom-style: solid;
    cursor: pointer;

}

@media (max-aspect-ratio: 1/1) {
    #container {
        flex-direction: column;
    }
    .boxContainer {
        margin-right: auto;
    }
    .gridContainer {
        padding: 1rem;
    }
}