.title {
    font-family: "Outfit", sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
}
.projects {
    width: 100%;
    display: flex;
    align-items: center;
}
.projectClickable {
    cursor: pointer;
}
a {
    cursor: default;
}
.projectContainer {
    width: 25%;
    border-radius: 2vw;
    padding: 2vw 2vw;
    margin-top: 8vh;
    height: 90%;
    margin-right: 1.5vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
.projectClickable:hover {
    transform: translateY(-1vh);
    transition: transform 0.1s;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projectTitle {
    font-family: "Outfit", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}
.projectDescription {
    margin-top: 3.5vh;
    font-family: Inter, sans-serif;
    font-weight: 400;
}