:root {
  line-height: 1.5;
  font-weight: 400;
  color: #1d405c;
  background-color: #f4f2f1;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0;
  --text: #1d405c;
  --light-text: #8fa5b6;
  --medium-text: #5c7c95;

}

::-webkit-scrollbar {
  width: 0;
}

a:hover {
  cursor: pointer;
}

* {
  margin: 0;
}