:root {
  line-height: 1.5;
  font-weight: 400;
  color: #f4f2f1;
  background-color: #1d405c;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0;
  --text: #f4f2f1;
}

/*::-webkit-scrollbar {*/
/*  width: 0;*/
/*}*/

a:hover {
  cursor: pointer;
}

* {
  margin: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: #f4f2f1;
    color: #1d405c;
    --text: #1d405c;
  }
}
