@keyframes up {
    /*20% {*/
    /*    box-shadow: 0 0 168px -67px rgba(0,0,0,0.75);*/
    /*}*/
    100% {
        opacity: 0;
        scale: 0.8;
        transform: translate(0, -100%);
    }
}
@keyframes down {
    /*20% {*/
    /*    box-shadow: 0 0 168px -67px rgba(0,0,0,0.75);*/
    /*}*/
    100% {
        opacity: 0;
        scale: 0.8;
        transform: translate(0, 100%);
    }
}

.upIn  {
    animation: up 0.3s reverse;
}
.upOut  {
    animation: up 0.3s ;
}
.downIn  {
    animation: down 0.3s reverse;
}
.downOut  {
    animation: down 0.3s ;
}