@keyframes up {
    /*20% {*/
    /*    box-shadow: 0 0 168px -67px rgba(0,0,0,0.75);*/
    /*}*/
    100% {
        opacity: 0;
        scale: 0.5;
        transform: translate(-20%, -60%) rotate(-20deg);
    }
}
@keyframes down {
    /*20% {*/
    /*    box-shadow: 0 0 168px -67px rgba(0,0,0,0.75);*/
    /*}*/
    100% {
        opacity: 0;
        scale: 0.5;

        transform: translate(-20%, 60%) rotate(20deg);
    }
}

.upIn  {
    animation: up 0.5s reverse ease-in;
}
.upOut  {
    animation: up 0.5s ease-in;
}
.downIn  {
    animation: down 0.5s reverse ease-in;
}
.downOut  {
    animation: down 0.5s ease-in;
}