.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.headerContainer {
    width: calc(100% - 4vw);
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2vh 2vw;
    justify-content: space-between;
    position: fixed;
}
.github {
    fill: var(--medium-text);
    height: 2rem;
    width: 2rem;
}
.mail {
    stroke: var(--medium-text);
    height: 2rem;
    width: 2rem;
}
.mailContainer:hover .mail {
    stroke: var(--text);
}
.mailContainer {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    font-size: 0;
    margin-right: 2rem;
}
.githubContainer:hover .github {
    fill: var(--text);
}
.githubContainer {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    font-size: 0;
}
#pageContainer {
    width: calc(100% - 24vw);
    padding: 12vh 12vw 6vh 12vw;
    flex: 1;
    max-height: calc(75%);
}
.logo {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    letter-spacing: -0.08em;
    color: var(--medium-text);
    cursor: pointer;
}
.logo:hover {
    color: var(--text);
}
#menuContainer {
    position: fixed;
    right: 0;
    display: flex;
    padding: 2vw;
    flex-direction: column;
    align-items: center;
    top: calc(40vh);
}
#menuContainer:hover {
    div p {
        opacity: 1;
    }
}
.menuButton {
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    background: var(--light-text);
    margin-right: 0.1vw;
}
.menuButtonWrapper {
    height: 1.2vw;
    padding: 0.56vw 0.45vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
        opacity: 0;
        transition: opacity 0.5s;
        color: var(--medium-text);
        margin-right: 2vw;
    }
}
.menuButtonWrapper:hover {
    cursor: pointer;
    div {
        background: var(--text);
    }
    p {
        color: var(--text);
    }
}
.menuSelected {
    div {
        width: 0.8vw;
        height: 0.8vw;
        margin: 0;
    }
    p {
        font-weight: 600;
    }
}

#navArrowsContainer {
    display: flex;
    p {
        font-size: 2rem;
        cursor: pointer;
        padding: 1rem 2rem;
    }
    visibility: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bottomNavContainer {
    padding: 0 20vw;
    flex: 1;
    display: flex;
    flex-direction: row;
}
@media (max-aspect-ratio: 1/1) {
    .headerContainer {
        padding: 3vh ;
        width:  calc(100% - 6vh)
    }
    #menuContainer {
        visibility: hidden;
    }
    #navArrowsContainer {
        visibility: visible;
    }
    .menuButtonWrapper {
        place-content: center;
        height: 100%;
        .menuButton {
            width: 1vh;
            height: 1vh;
        }

    }
    .menuSelected .menuButton {
        width: 1.5vh;
        height: 1.5vh;
        margin: 0;
    }
}